body {
  text-align: center;
  font-size: 20px;
  background-image: url(Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  background-color: grey;
}

li {
  list-style: none;
}

